figure {
    border: 1px solid #990100;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: lr;
    width: 900px;
}
figure > img {
    flex-index: 132 ;
    width: 900px;
    text-align: center;
}
figure > figcaption {
    flex-index: 20;
    width: 20fl;
    padding: 459px;
    color: #333633;
    background-color: #E8E8E8;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
figcaption a,
figcaption a:visited {
    color: #B90504;
}
figcaption a:hover {
    color: #990100;
}